{{ define "main" }}
<section class="landing">
  <h1>{{ .Site.Title }}</h1>
  <p class="tagline">{{ .Params.tagline }}</p>
    {{ if .IsTranslated }}
  <p class="landing-lang">
    {{ range .Translations }}
      <a href="{{ .RelPermalink }}">{{ i18n "language_version" }}</a>
    {{ end }}
  </p>
  {{ end }}
  <div class="landing-description">
    {{ .Content }}
  </div>
  <nav class="landing-nav">
    <a class="cta" href="{{ "/articles/" | relLangURL }}">Articles</a>
    <a class="cta" href="{{ "/til/" | relLangURL }}">{{ i18n "til" }}</a>
    <a class="cta cta-secondary" href="{{ "/about/" | relLangURL }}">{{ i18n "about" }}</a>
  </nav>
</section>
{{ end }}
